* {
    font-family: var(--cta-alt);
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.container {
    position: fixed;
    top: 0;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    // width: %;
    margin: 20px 40px 0;
    // border: 1px solid;

}


// .header-left {
//     width: 7%;
//     // height: 30%;
// }

.header-right {
    display: flex;
    gap: 8px;

}

.header-initials {
    border: 1px solid var(--color-boarder-stroke-hard);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 7px 8px;
    color: #262626;
    background-color: var(--clr-dark-20);
    font-family: var(--cta-alt);
    font-weight: var(--fw-700);
    cursor: pointer;
}

.header-menu {
    display: none;
}

.head-border {
    margin: 10px 0;
    border: 1px solid var(--color-boarder-stroke);
}

.header-sub-left {
    display: flex;
    gap: 8px;
}

.header-sub {
    display: flex;
    justify-content: space-between;
    // width: 95%;
    padding: 12px 0;
    margin: 0 40px;
}

.header-dashboard,
.header-ticket,
.header-board {
    width: 11rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid var(--clr-dark-75);
    font-size: var(--fs-18);
    border-radius: var(--rounded-sm);
    color: #7B7B7B;
    padding: 7px 12px;
    cursor: pointer;
    //   background-color: white; 
    transition: background-color 0.3s, color 0.3s;
}

.header-dashboard.active,
.header-ticket.active,
.header-board.active {
    background-color: var(--clr-blue-500); // Active background
    color: white; // Active text color
}

.header-note {
    color: var(--clr-blue-450);
}

.header-note-bold {
    color: var(--clr-blue-450);
    font-weight: var(--fw-700);
}

.menu-container {
    background-color: #fff;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 100vh;
    // display: none;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 24px;
    background-color: #EEF8FF;
}

.menu-header h1 {
    color: #262626;
    font-weight: var(--fw-700);
}

.menu-options {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
    width: 53%;
    margin: 50px auto 0;
}

.all-options {
    border: 1px solid #E9E9E9;
    border-radius: 14px;
    width: 170px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    // padding: 20px;

}


.logout-container {
    background-color: #FCEAEA;
    position: absolute;
    bottom: 80px;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #DE2626;
    padding: 10px 0;
    cursor: pointer;
}

.btn-ticket {
    display: none;
}

.ticket-container-background {
    display: none;
}


.buy-ticket-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #F6F6F6;
    height: 100vh;
    z-index: 1000;
}

.ticket-header-responsive {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 0px auto 0; */
    /* width: 80%; */
    padding: 5px 10%;
    background-color: #fff;
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #C4C4C4;
}

.buy-ticket-header {
    background-color: #FCFCFC;
    border-bottom: 1px solid #D9D9D9;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0 0 0;
}

.total-ticket-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.img-dashboard {
    margin-left: 30px;
    cursor: pointer;
}

.img-question {
    margin-right: 30px;
}

.buy-ticket-header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bigger-text {
    font-size: 24px;
}

.img {
    background-color: #fff;
    margin: 30px auto 0;
    padding: 1px 0;
    width: 80%;
    border-radius: 10px;
    border: 1px solid #D9D9D9;
}

.img img {
    margin: 15px auto;
    width: 95%;
}

// .ticket-container-background .buy-ticket-count {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     background-color: #fff;
//     border: 1px solid #D9D9D9;
//     border-top-left-radius: 10px;
//     border-top-right-radius: 10px;
//     width: 80%;
//     padding: 0 50px;
//     margin: 0 auto;
// }


.ticket-price-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ticket-price-container span {
    margin-left: 20px;
}

.ticket-count-container {
    border-left: 1px solid #E9E9E9;
}

.ticket-count-container .count {
    margin-left: 20px;
}

.count-number {
    display: flex;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    align-items: center;
    margin-left: 20px;
}

.count-number button {
    background-color: #1228C1;
    color: #fff;
    height: 37px;
    width: 37px;
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;
}

.ticket-number {
    /* display: block; */
    margin-top: 2px;
    /* border: 1px solid #E9E9E9; */
    width: 65px;
    height: 35px;
    font-size: 14px;
    padding: 7px 0px 0px 25px;
}

.ticket-bought-container {
    background-color: #fff;
    border: 1px solid #D9D9D9;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 80%;
    margin: 0 auto 20px;
}

.ticket-bought {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ticket-amount {
    font-weight: var(--fw-500);
    font-size: 32px;
}

.footer-ticket {
    position: absolute;
    bottom: 0;
    background-color: #fff;
    border: 1px solid #D9D9D9;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.footer-ticket button {
    // width: 30%;
    padding: 10px 20px;
    background-color: #1228C1;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
}


.pay-with-transfer {
    background-color: #fff;
    width: 80%;
    border: 1px solid #E9E9E9;
    margin: 7px auto 0;
    display: flex;
    gap: 10px;
    border-radius: 10px;
    padding: 10px 20px;
    // height: 0px;

}

.pay-with-transfer-img img {
    position: relative;
    top: 4px;

}

.transfer-details {
    display: flex;
    flex-direction: column;
}

.transfer-details-text {
    color: #434343;
    font-weight: var(--fw-400);
}

.transfer-details-number {
    color: #9D9D9D;
    font-size: 14px;
    font-weight: var(--fw-400);
}

.pay-with-credit-card {
    background-color: #fff;
    width: 80%;
    border: 1px solid #E9E9E9;
    margin: 7px auto 0;
    // display: flex;
    // gap: 10px;
    border-radius: 10px;
    padding: 10px 20px;
}

.pay-with-credit-card-head {
    display: flex;
    gap: 8px;
    color: #434343;

}

form {
    padding-left: 38px;
}

.card-number-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.card-number-container label {
    margin-top: 10px;
    color: #7B7B7B;
}

.card-number-container input {
    height: 36px;
    border: 1px solid #E2E8F0;
    border-radius: 6px;
    outline: none;
    padding-left: 50px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.img-card-type {
    position: absolute;
    top: 27px;
    background-color: #F1F5F9;
    width: 45px;
    height: 36px;
    // border-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;

}

.img-card-type img {
    width: 30px;
    height: 30px;
    position: relative;
    top: 4px;
    left: 7px;
}

.card-details-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
}

.card-details {
    display: flex;
    flex-direction: column;
    // gap: 8px;
}


.card-details label {
    margin-top: 10px;
    color: #7B7B7B;
}


.card-details input {
    height: 36px;
    border: 1px solid #E2E8F0;
    border-radius: 6px;
    outline: none;
    padding-left: 5px;
}

.save-card-details {
    display: flex;
    gap: 8px;
    margin-top: 20px;
    color: #555555;
}




.modal {
    width: 100%;
    height: 100%;
    background-color: var(--clr-dark-20);
    border: 1px solid var(--color-boarder-stroke-hard);
    position: absolute;
    top: 0;
    right: 0;
    /* bottom: 20px; */
    z-index: 100;
}

.container-modal {
    // margin-top: 50px;

    width: 70%;
    height: 70%;
    margin: 5rem auto 0;
}

.modal-img {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}


.animated_check_circle svg {
    width: 60px;
    display: block;
    stroke: red;
    margin: 40px auto 0;
}

.animated_check_circle .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
}

.animated_check_circle .path.circle {
    animation: dash 1.5s ease-in-out infinite;
}

.animated_check_circle .path.check {
    stroke-dashoffset: -100;
    animation: dash-check 1.5s 0.35s ease-in-out infinite;
}

@keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes dash-check {
    0% {
        stroke-dashoffset: -100;
    }

    100% {
        stroke-dashoffset: 900;
    }
}


.modal-text {
    margin-top: 50px;
    font-family: var(--cta-alt);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-text h1 {
    font-weight: var(--fw-700);
    font-size: 18px;
    margin: 0;
    // font-size: var(--fs-32);
}

.modal-text span {
    font-weight: var(--fw-400);
    font-size: 16px;
    text-align: center;
    // font-size: var(--fs-32);
}

.modal-btn {
    display: flex;
    align-items: center;

}

.modal-btn button {
    margin: 10px auto 0;
    position: relative;
    border: 1px solid var(--clr-blue-800);
    color: var(--clr-white);
    background-color: var(--clr-blue-800);
    // padding: var(--NumbersSpacingS, 16px) 20px;
    // padding: var(--NumbersSpacingS, 16px) 20px 6px 0px;
    border-radius: var(--rounded-xl);
    font-family: var(--cta-alt);
    font-weight: var(--fw-500);
    font-size: 20px;
    width: 226px;
    height: 58px;
    cursor: pointer;
    outline: none;

}




@media (max-width:1125px) {
    .header-note-container {
        display: none;
    }
}

@media (max-width: 1000px) {
    .header-sub {
        display: none;
    }

    .header-img img {
        display: none;
    }

    .header-menu {
        display: flex;
        width: 40px;
    }

    .ticket-container-background {
        display: block;
    }


    .buy-ticket-count {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        border: 1px solid #D9D9D9;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 80%;
        padding: 10px 15px;
        margin: 0 auto;
    }


    .btn-ticket {
        display: flex;
        position: absolute;
        bottom: 10px;
        right: 40px;
        align-items: center;
        gap: 8px;
        background-color: #3148E4;
        color: #fff;
        padding: 10px 25px;
        border-radius: 100px;
        font-weight: var(--fw-500);
        font-size: 18px;
        box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.25);
        cursor: pointer;
    }
}

@media (max-width: 728px) {

    .menu-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        font-size: 24px;
        background-color: #EEF8FF;
    }

    .menu-header h1 {
        color: #262626;
        font-weight: var(--fw-700);
    }

    .ticket-container-background {
        display: block;
    }

    .menu-options {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
        align-items: center;
        width: 53%;
        margin: 50px auto 0;
    }

    .buy-ticket-count {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        border: 1px solid #D9D9D9;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 80%;
        padding: 10px 15px;
        margin: 0 auto;
    }


    .all-options {
        border: 1px solid #E9E9E9;
        border-radius: 14px;
        width: 123px;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 14px;
        font-size: 14px;
    }

    .all-options img {
        width: 22px;
    }

}

@media (max-width: 546px) {

    .menu-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        font-size: 24px;
        background-color: #EEF8FF;
    }

    .menu-header h1 {
        color: #262626;
        font-weight: var(--fw-700);
    }

    .menu-options {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 50px auto 0;
    }

    .ticket-container-background {
        display: block;
    }

    .all-options {
        border: 1px solid #E9E9E9;
        border-radius: 14px;
        width: 123px;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 14px;
        font-size: 14px;
    }


    .all-options img {
        width: 22px;
    }

    .btn-ticket {
        display: flex;
        position: absolute;
        bottom: 180px;
        right: 40px;
        align-items: center;
        gap: 8px;
        background-color: #3148E4;
        color: #fff;
        padding: 10px 25px;
        border-radius: 100px;
        font-weight: var(--fw-500);
        font-size: 14px;
        box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        z-index: 10;
    }

    .buy-ticket-count {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        border: 1px solid #D9D9D9;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 80%;
        padding: 10px 15px;
        margin: 0 auto;
    }

    .count-number button {
        background-color: #1228C1;
        color: #fff;
        height: 25px;
        width: 25px;
        margin-left: 5px;
        font-size: 15px;
        border-radius: 10px;
        cursor: pointer;
    }

    .ticket-number {
        margin-top: 2px;
        width: 65px;
        height: 35px;
        font-size: 12px;
        padding: 7px 0px 0px 25px;
    }

    .ticket-amount {
        font-weight: var(--fw-500);
        font-size: 20px;
    }

    .ticket-price-container span {
        margin-left: 20px;
        font-size: 12px;
    }

    .ticket-count-container .count {
        margin-left: 20px;
        font-size: 12px;
    }


}