<div class="parent-container">
  <div class="tab-container">
    <!-- the class active-tab will add dynamic class features to the tab -->
    <div class=" tab active-tab">
      <p> All Users <span class="rounded-border-items"> 12,132 </span> </p>
      <!-- add or remove based on the active tab -->
      <div  class="border-bottom"></div>
    </div>
    <div class="tab">
      <p> Agents <span class="rounded-border-items"> 32 </span> </p>
      <div  class="border-bottom"></div>
    </div>
  </div>

  <div class="tab-content">
    <div class="all-users-container">
      <div class="user-details">
        <div class="name-thumbnail">
          <img src="../../../assets/user-1.svg" alt="">
          <div class="name">
            <h2> Christiana Jumbo </h2>
            <p> Mobile User </p>
          </div>
        </div>
        <div class="contact-info">
          <p> 09011220303 </p>
          <p> Christiana&#64;gmail.com </p>
        </div>
        <div class="contact-info">
          <p> Date Registered </p>
          <p> October 7, 2024 - 4:51 pm </p>
        </div>
        <button class="status">
          Active
        </button>

        <img src="../../../assets/view-more-icon.svg" alt="">
      </div>
      <div class="user-details">
        <div class="name-thumbnail">
          <img src="../../../assets/user-1.svg" alt="">
          <div class="name">
            <h2> Christiana Jumbo </h2>
            <p> Mobile User </p>
          </div>
        </div>
        <div class="contact-info">
          <p> 09011220303 </p>
          <p> Christiana&#64;gmail.com </p>
        </div>
        <div class="contact-info">
          <p> Date Registered </p>
          <p> October 7, 2024 - 4:51 pm </p>
        </div>
        <button class="status">
          Active
        </button>

        <img src="../../../assets/view-more-icon.svg" alt="">
      </div>
      <div class="user-details">
        <div class="name-thumbnail">
          <img src="../../../assets/user-1.svg" alt="">
          <div class="name">
            <h2> Christiana Jumbo </h2>
            <p> Mobile User </p>
          </div>
        </div>
        <div class="contact-info">
          <p> 09011220303 </p>
          <p> Christiana&#64;gmail.com </p>
        </div>
        <div class="contact-info">
          <p> Date Registered </p>
          <p> October 7, 2024 - 4:51 pm </p>
        </div>
        <button class="status">
          Active
        </button>

        <img src="../../../assets/view-more-icon.svg" alt="">
      </div>
      <div class="user-details">
        <div class="name-thumbnail">
          <img src="../../../assets/user-1.svg" alt="">
          <div class="name">
            <h2> Christiana Jumbo </h2>
            <p> Mobile User </p>
          </div>
        </div>
        <div class="contact-info">
          <p> 09011220303 </p>
          <p> Christiana&#64;gmail.com </p>
        </div>
        <div class="contact-info">
          <p> Date Registered </p>
          <p> October 7, 2024 - 4:51 pm </p>
        </div>
        <button class="status">
          Active
        </button>

        <img src="../../../assets/view-more-icon.svg" alt="">
      </div>
    </div>

    <div class="all-agents-container">
      <div class="user-details">
        <div class="name-thumbnail">
          <img src="../../../assets/user-1.svg" alt="">
          <div class="name">
            <h2> Joshua Adaranijo </h2>
            <p> Yaba Lagos State </p>
          </div>
        </div>
        <div class="contact-info">
          <p> 09011220303 </p>
          <p> Joshua_Adaranijo&#64;gmail.com </p>
        </div>
        <div class="contact-info">
          <p> Sold </p>
          <p> 51,650 Tickets </p>
        </div>
        <div class="contact-info">
          <p> Oweing  </p>
          <p> ₦ 1,676,200 </p>
        </div>
        <button class="status">
          Active
        </button>

        <img src="../../../assets/view-more-icon.svg" alt="">
      </div>
    </div>
  </div>
</div>