<div class="current-route-container">
  <img (click)="goBack()" *ngIf="showBackBtn" src="../../../assets/go-back.svg" alt=""><h1 class="current-route-header"> {{currentRoute}} </h1>
</div>

<div class="parent-container">
  <!-- this will handle the view for the first level of view -->
  <ng-container *ngIf="!showBackBtn">
    <div class="tab-container">
      <!-- the class active-tab will add dynamic class features to the tab -->
      <div class="tab" [ngClass]="primaryTabs == 'all-users-container' ? 'active-tab' : '' ">
        <p (click)="switchprimaryTabs('all-users-container')"> All Users <span class="rounded-border-items"> {{numberOfUsers}} </span> </p>
        <!-- add or remove based on the active tab -->
        <div  class="border-bottom"></div>
      </div>
      <div class="tab" [ngClass]="primaryTabs == 'all-agents-container' ? 'active-tab' : '' ">
        <p (click)="switchprimaryTabs('all-agents-container')"> Agents <span class="rounded-border-items"> 32 </span> </p>
        <div  class="border-bottom"></div>
      </div>
    </div>
  
    <div [ngSwitch]="primaryTabs" class="tab-content">
      <div *ngSwitchCase="'all-users-container'"  class="all-users-container">
        <!-- collection of user cards -->
        <div (click)="detailsPage('user')" class="user-details" *ngFor="let user of allUsers">
          <div class="name-thumbnail">
            <img src="../../../assets/user-1.svg" alt="">
            <div class="name">
              <h2> {{user.firstName}} {{user.lastName}} </h2>
              <p> Mobile User </p>
            </div>
          </div>
          <div class="contact-info">
            <p> {{user.phoneNumber}} </p>
            <p> {{user.email}} </p>
          </div>
          <div class="contact-info">
            <p> Date Registered </p>
            <p> {{user.registeredOn.split('T')[0]}} </p>
          </div>
          <button class="status-btn"[ngClass]="getBtnColor('active')">
            <div class="dot">
              <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8"
              fill="none">
              <circle cx="4" cy="4" r="3" [attr.fill]="getFillColor('active')" />
              </svg>
            </div> 
            {{status !== null ? status : 'Not Available'}}
          </button>
  
          <img src="../../../assets/view-more-icon.svg" alt="">
        </div>
        
      </div>
  
      <div *ngSwitchCase="'all-agents-container'"  class="all-agents-container">
        <!-- collection of agent cards -->
        <div (click)="detailsPage('agent')" class="user-details">
          <div class="name-thumbnail">
            <img src="../../../assets/user-1.svg" alt="">
            <div class="name">
              <h2> Joshua Adaranijo </h2>
              <p> Yaba Lagos State </p>
            </div>
          </div>
          <div class="contact-info">
            <p> 09011220303 </p>
            <p> Joshua_Adaranijo&#64;gmail.com </p>
          </div>
          <div class="contact-info">
            <p> Sold </p>
            <p> 51,650 Tickets </p>
          </div>
          <div class="contact-info">
            <p> Oweing  </p>
            <p> ₦ 1,676,200 </p>
          </div>
          <button class="status-btn"[ngClass]="getBtnColor('active')">
            <div class="dot">
              <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8"
              fill="none">
              <circle cx="4" cy="4" r="3" [attr.fill]="getFillColor('active')" />
              </svg>
            </div> 
            {{status !== null ? status : 'Not Available'}}
          </button>
          <button>

          </button>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="showBackBtn">
    <div class="tab-container">
      <!-- the class active-tab will add dynamic class features to the tab -->
      <div class="tab" [ngClass]="tabs == 'personal-information' ? 'active-tab' : '' ">
        <p (click)="switchTab('personal-information')"> Personal Information </p>
        <!-- add or remove based on the active tab -->
        <div  class="border-bottom"></div>
      </div>

      <div *ngIf="currentRoute == 'User Details'" class="tab" [ngClass]="tabs == 'ticket-history' ? 'active-tab' : '' ">
        <p (click)="switchTab('ticket-history')"> Ticket History </p>
        <!-- add or remove based on the active tab -->
        <div  class="border-bottom"></div>
      </div>

      <div *ngIf="currentRoute == 'Agent Details'" class="tab" [ngClass]="tabs == 'tickets-sold' ? 'active-tab' : '' ">
        <p (click)="switchTab('tickets-sold')"> Tickets Sold </p>
        <!-- add or remove based on the active tab -->
        <div  class="border-bottom"></div>
      </div>

      <div *ngIf="currentRoute == 'Agent Details'" class="tab" [ngClass]="tabs == 'commission' ? 'active-tab' : '' ">
        <p class="unique-problem" (click)="switchTab('commission')"> Commission Earned <span class="rounded-border-items"> ₦ {{commissionEarned}} </span> </p>
        <!-- add or remove based on the active tab -->
        <div class="border-bottom"></div>
      </div>

    </div>

    <div [ngSwitch]="tabs" class="tab-content"> 
      <div  class=" add-flex-gap" *ngSwitchCase="'personal-information'"> 
        <div class="person-profile-blue-bg">
          <img src="../../../assets/personal-details-headshot.svg" alt="">
          <div class="personal-details">
            <h2> Joshua Adaranijo </h2>
            <div class="collection">
              <span class="status-btn"[ngClass]="getBtnColor('active')">
                <div class="dot">
                  <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8"
                  fill="none">
                  <circle cx="4" cy="4" r="3" [attr.fill]="getFillColor('active')" />
                  </svg>
                </div> 
                {{status !== null ? status : 'Not Available'}}
              </span>

              <span class="rounded-border-items"> Mobile User </span>
              <span class="rounded-border-items with-icon"> <img src="../../../assets/jolly-points-icon.png" alt=""> 100 Jolly Points </span>
              <span class="rounded-border-items"> Christiana&#64;gmail.com </span>
              <span class="rounded-border-items"> Registered: October 7, 2024 - 4:51 pm   </span>
            </div>
          </div>
        </div>

        <div class="more-details-collection">
          <div class="table">
            <div class="table-items">
              <p>Tickets Bought</p>
              <p>231</p>
            </div>
            <div class="table-items tickets">
              <p>Tickets Amount</p>
              <p>₦ 40,000</p>
            </div>
            <div class="table-items">
              <p>Prizes Won</p>
              <p>400</p>
            </div>
            <div class="table-items">
              <p>Prizes Value</p>
              <p>₦ 312,000</p>
            </div>
          </div>
          <div class="table">
            <div class="table-items">
              <p>Phone Number</p>
              <p>09018293839</p>
            </div>
            <div class="table-items">
              <div class="file-container">
                <img src="../../../assets/pdf-icon.png" alt="">
                <p> Christiana - NIN </p>
                <img src="../../../assets/download-03.svg" alt="">
              </div>
            </div>
            <div class="table-items address">
              <p>Address</p>
              <p>29, Adeyemo Alakija, Victoria Island, Lagos, Nigeria</p>
            </div>
          </div>
        </div>
      </div>

      <div class="ticket-history-container" *ngSwitchCase="'ticket-history'">
        <div class="all-tickets">
          <div class="ticket-details">
            <div class="left">
              <img src="../../../assets/car-prize.png" alt="">
              <div class="ticket-details-all">
                <div class="left-side">
                  <span class="ticket-date">03rd Sept, 2024</span>
                  <span class="ticket-name">Jolly Jackpot Lottery</span>
                  <span class="ticket-won">
                      <span>11 Ticket</span>
                      <span>₦ 11,000</span>
                      <span>Cars, laptop, Phones, Gas Cooker</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="ticket-details">
            <div class="left">
              <img src="../../../assets/lotter-ticket-img.png" alt="">
              <div class="ticket-details-all">
                <div class="left-side">
                  <span class="ticket-date">03rd Sept, 2024</span>
                  <span class="ticket-name">Jolly Jackpot Lottery</span>
                  <span class="ticket-won">
                      <span>11 Ticket</span>
                      <span>₦ 11,000</span>
                      <span>Cars, laptop, Phones, Gas Cooker</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="prize-table">
          <div class="prize-image-container">
            
            <div class="prize-image">
              <div class="ticket-id">
                <h3> Ticket ID </h3>
                <p> WAP-90876-XYZ </p>
              </div>
            </div>
          </div>
          <div class="top">
            <div class="prize-table-items border-right">
              <p>Prizes Value</p>
              <p>₦ 312,000</p>
            </div>
            <div class="prize-table-items">
              <p>Prizes Value</p>
              <p>₦ 312,000</p>
            </div>
          </div>
          <div class="prize-table-items border-top">
            <p>Prizes Value</p>
            <p>₦ 312,000</p>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'tickets-sold'" > <p> tickets sold </p> </div>
      <div *ngSwitchCase="'commission'" > 
        <div class="transaction-table">
          <div class="filter">
            <div class="input-container">
              <input type="search" placeholder="Search using keyword">
              <img class="search-icon" src="../../../assets/search-icon.svg" alt="">
            </div>
      
            <div class="filter-container">
              <img src="../../../assets/filter-icon.svg" alt="">
              <p> Filter </p>
            </div>
          </div>
       
          <table>
            <thead>
              <tr>
                <th>
                  <div class="table-heading"> <input type="checkbox"/>  </div>
                </th>
                <th>
                  <div class="table-heading"> Amount Earned </div>
                </th>
                <th>
                  <div class="table-heading"> Tickets sold </div>
                </th>
                <th>
                  <div class="table-heading"> Channel </div>
                </th>
                <th>
                  <div class="table-heading"> Status </div>
                </th>
                <th>
                  <div class="table-heading">  Customer Name </div>
                </th>
                <th>
                  <div class="table-heading"> Date Bought </div>
                </th>
               
                <th> <img src="../../../assets/table-columns-icon.svg" alt=""> </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> <input type="checkbox" /> </td>
                <td class="amount-earned"> ₦ 1,000 </td>
                <td> 12 tickets </td>
                <td> Web App </td>
                <td>
                  <button class="status-btn" [ngClass]="getBtnColor(transactionStatus)">
                    <div class="dot">
                      <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                        <circle cx="4" cy="4" r="3" [attr.fill]="getFillColor(transactionStatus)" />
                      </svg>
                    </div> {{transactionStatus !== null ? transactionStatus : 'Not Available'}}
                  </button>
                </td>
                <td> Bala Muhammed </td>
                <td> 10th July, 2024 </td>
                <td> <img src="../../../assets/vertical-dots-icon.svg" alt=""> </td>
              </tr>
              <tr>
                <td> <input type="checkbox" /> </td>
                <td class="amount-earned"> ₦ 1,000 </td>
                <td> 12 tickets </td>
                <td> Web App </td>
                <td>
                  <button class="status-btn" [ngClass]="getBtnColor(transactionStatus)">
                    <div class="dot">
                      <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                        <circle cx="4" cy="4" r="3" [attr.fill]="getFillColor(transactionStatus)" />
                      </svg>
                    </div> {{transactionStatus !== null ? transactionStatus : 'Not Available'}}
                  </button>
                </td>
                <td> Bala Muhammed </td>
                <td> 10th July, 2024 </td>
                <td> <img src="../../../assets/vertical-dots-icon.svg" alt=""> </td>
              </tr>
              <tr>
                <td> <input type="checkbox" /> </td>
                <td class="amount-earned"> ₦ 1,000 </td>
                <td> 12 tickets </td>
                <td> Web App </td>
                <td>
                  <button class="status-btn" [ngClass]="getBtnColor(transactionStatus)">
                    <div class="dot">
                      <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                        <circle cx="4" cy="4" r="3" [attr.fill]="getFillColor(transactionStatus)" />
                      </svg>
                    </div> {{transactionStatus !== null ? transactionStatus : 'Not Available'}}
                  </button>
                </td>
                <td> Bala Muhammed </td>
                <td> 10th July, 2024 </td>
                <td> <img src="../../../assets/vertical-dots-icon.svg" alt=""> </td>
              </tr>
              <tr>
                <td> <input type="checkbox" /> </td>
                <td class="amount-earned"> ₦ 1,000 </td>
                <td> 12 tickets </td>
                <td> Web App </td>
                <td>
                  <button class="status-btn" [ngClass]="getBtnColor(transactionStatus)">
                    <div class="dot">
                      <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                        <circle cx="4" cy="4" r="3" [attr.fill]="getFillColor(transactionStatus)" />
                      </svg>
                    </div> {{transactionStatus !== null ? transactionStatus : 'Not Available'}}
                  </button>
                </td>
                <td> Bala Muhammed </td>
                <td> 10th July, 2024 </td>
                <td> <img src="../../../assets/vertical-dots-icon.svg" alt=""> </td>
              </tr>
              <tr>
                <td> <input type="checkbox" /> </td>
                <td class="amount-earned"> ₦ 1,000 </td>
                <td> 12 tickets </td>
                <td> Web App </td>
                <td>
                  <button class="status-btn" [ngClass]="getBtnColor(transactionStatus)">
                    <div class="dot">
                      <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                        <circle cx="4" cy="4" r="3" [attr.fill]="getFillColor(transactionStatus)" />
                      </svg>
                    </div> {{transactionStatus !== null ? transactionStatus : 'Not Available'}}
                  </button>
                </td>
                <td> Bala Muhammed </td>
                <td> 10th July, 2024 </td>
                <td> <img src="../../../assets/vertical-dots-icon.svg" alt=""> </td>
              </tr>
              <tr>
                <td> <input type="checkbox" /> </td>
                <td class="amount-earned"> ₦ 1,000 </td>
                <td> 12 tickets </td>
                <td> Web App </td>
                <td>
                  <button class="status-btn" [ngClass]="getBtnColor(transactionStatus)">
                    <div class="dot">
                      <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                        <circle cx="4" cy="4" r="3" [attr.fill]="getFillColor(transactionStatus)" />
                      </svg>
                    </div> {{transactionStatus !== null ? transactionStatus : 'Not Available'}}
                  </button>
                </td>
                <td> Bala Muhammed </td>
                <td> 10th July, 2024 </td>
                <td> <img src="../../../assets/vertical-dots-icon.svg" alt=""> </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-container>
  
</div>