.side-nav-container {
  // display: none;
  width: 13.375rem;
  border-right: 1px solid var(--colors-boarders-strokes-boarders-strokes-mild, #D9D9D9);
  background: var(--Colors-White-White, #FFF);
  height: 100vh;
  box-shadow: 4px 0px 16px 0px rgba(69, 136, 236, 0.05);
}

.side-nav-top {
  border-bottom: 1px solid var(--colors-boarders-strokes-boarders-strokes-mild, #D9D9D9);
  padding-inline: 1.6rem;
  padding-top: 1.2rem;
  padding-bottom: 2rem;

  img {
    width: 5.08763rem;
    height: 2rem;
  }
}

.side-nav-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;

  nav {
    display: flex;
    flex-direction: column;
    padding: var(--Numbers-Spacing-S, 0.375rem);
    gap: var(--Numbers-Spacing-L, 0.625rem);
    padding: 1rem;
    height: 100%;
  }

  a {
    text-decoration: none;
    display: flex;
    // flex-direction: column;
    align-items: flex-start;
    gap: var(--Numbers-Spacing-L, 0.625rem);

    cursor: pointer;
    display: flex;
    width: 11.75rem;
    padding: var(--Numbers-Spacing-S, 0.375rem) var(--Numbers-Spacing-L, 0.625rem);
    // align-items: center;
    // gap: 0.375rem;

    color: var(--colors-black-tetiary-color-b-500, #7B7B7B);

    /* Body Text Regular/Supporting Text - 1 */
    font-family: "DM Sans";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &.active,
    &:hover, 
    &:active,
    &:focus-within {
      border-radius: var(--Numbers-Corner-Radius-Corner-Radius---Medium, 0.5rem);
      background: var(--colors-blue-secondary-color-s-50, #E9EAFC);

      color: var(--colors-blue-secondary-color-s-900, #0009B0);
      /* Body Text - Medium/Body Text - Medium - 5 */
      font-family: "DM Sans";
      font-size: 1rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
}

.support {
  display: flex;
  flex-direction: column;
  // width: 11.75rem;
  padding: var(--Numbers-Spacing-S, 0.375rem) var(--Numbers-Spacing-L, 0.625rem);
  align-items: center;
  gap: 0.375rem;
  padding: 1rem;

  .top {
    cursor: pointer;
    display: flex;
    width: 11.75rem;
    padding: var(--Numbers-Spacing-S, 0.375rem) var(--Numbers-Spacing-L, 0.625rem);
    align-items: center;
    gap: 0.375rem;

    p {
      color: var(--colors-black-tetiary-color-b-500, #7B7B7B);

      /* Body Text Regular/Supporting Text - 1 */
      font-family: "DM Sans";
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}

.profile-card {
  gap: 0.25rem;

  display: flex;
  // width: 11.75rem;
  padding: 0.75rem 0.75rem 0.75rem 0.6875rem;
  align-items: center;
  gap: 0.23406rem;
  border-radius: var(--Numbers-Corner-Radius-Corner-Radius---Small, 0.375rem);
  border: 1px solid var(--colors-blue-secondary-color-s-100, #C7C9F8);
  background: #F3F3FE;
}

.profile-name {
  h2 {
    color: var(--Color-Typography-Header-or-Display-Text, #111519);

    /* Body Text - Medium/Body Text - Medium - 6 */
    font-family: "DM Sans";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  p {
    display: -webkit-box;
    width: 8rem;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;

    overflow: hidden;
    color: var(--Colors-Typography-Colors-Supporting-Text-2, #7B7B7B);
    text-overflow: ellipsis;
    /* Body Text Regular/Supporting Text - 2 */
    font-family: "DM Sans";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
