<div>
    <app-header />
</div>
<div class="html-container">
    <div>
        <div class="profile-head">
            <div>
                <span class="header-initials">
                    {{initial}}
                </span>
            </div>
            <div class="complete-profile">
                <h1 class="header-name">{{firstName}} {{lastName}}</h1>
                <div class="complete-profile-div">
                    <span class="header-status">Verified</span>
                    <span class="header-points">{{jollyPoints}} Jolly Point(s)</span>
                    <span class="header-email">{{email}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="loader" *ngIf="showLoader">
        <app-loader/>
    </div>
  

    <div class="parent-container">
        <div class="tab-container">
            <!-- Profile Details Tab -->
            <div class="tab" [ngClass]="tabs === 'profile-details' ? 'active-tab' : ''">
                <p (click)="switchTab('profile-details')">Profile Details</p>
                <div class="border-bottom"></div>
            </div>

            <!-- Settings Tab -->
            <div class="tab" [ngClass]="tabs === 'settings' ? 'active-tab' : ''">
                <p (click)="switchTab('settings')">Settings</p>
                <div class="border-bottom"></div>
            </div>

            <div class="tab" [ngClass]="tabs === 'referrals' ? 'active-tab' : ''">
                <p (click)="switchTab('referrals')">Referrals</p>
                <div class="border-bottom"></div>
            </div>
        </div>

        <div class="profile">
            <div>
                <div *ngIf="tabs === 'profile-details'">
                    <div>
                        <div>
                            <div class="first-block-profile">
                                <div class="first-block-profile-balance">
                                    <div class="first-block-balance">
                                        <span>Your Balance</span>
                                        <span>₦ 0</span>
                                    </div>
                                    <div class="first-block-profile-border">

                                    </div>
                                    <div class="first-block-referrals">
                                        <span>Referral Earnings</span>
                                        <span>₦ 0</span>
                                    </div>
                                </div>
                                <div class="first-block-profile-address">
                                    <span>Address</span>
                                    <span>{{address === '' ? 'Nil': address}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="profile-details-complete-container">
                            <div class="profile-details-complete">
                                <div class="profile-complete">
                                    <span>Complete your profile</span>
                                    <span>{{address === '' ? '50%' : '75%'}}</span>
                                </div>
                                <div class="profile-details-progress">
                                    <div class="profile-details-progress-bar"
                                    [ngStyle]="{
                                        'width': address ? '75%' : '50%',
                                        'border': address ? '4px solid orange' : '4px solid red'
                                      }">

                                    </div>
                                </div>
                            </div>
                            <div class="profile-details-nin-container">
                                <div class="profile-details-nin">
                                    <div>
                                        <img src="../../../assets/location.svg" alt="">
                                    </div>
                                    <div class="profile-details-nin-text">
                                        <span>Please Provide your NIN</span>
                                        <span>details for verification purposes</span>
                                    </div>
                                </div>
                                <div class="profile-details-nin-btn" (click)="updateNIN()">
                                    <span>UPDATE NIN</span>
                                    <span> > </span>
                                </div>
                            </div>
                            <div class="profile-details-nin-container">
                                <div class="profile-details-nin">
                                    <div>
                                        <img src="../../../assets/gallery.svg" alt="">
                                    </div>
                                    <div class="profile-details-nin-text">
                                        <span>Please Update your location </span>
                                        <span>details for verification purposes</span>
                                    </div>
                                </div>
                                <div class="profile-details-nin-btn" (click)="updateLocationUpdate()">
                                    <span>UPDATE LOCATION</span>
                                    <span> > </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div *ngIf="tabs === 'settings'">
                    <div class="settings-container">
                        <div class="settings-email-container">
                            <div class="settings-email-text">
                                <span>Change Email</span>
                            </div>
                            <div class="settings-email-btn" (click)="updateEmail()">
                                <span>Proceed</span>
                                <span>></span>
                            </div>
                        </div>
                        <div class="settings-email-container">
                            <div class="settings-email-text">
                                <span>Change Password</span>
                            </div>
                            <div class="settings-email-btn" (click)="updatePassword()">
                                <span>Proceed</span>
                                <span>></span>
                            </div>
                        </div>
                        <div class="settings-email-container">
                            <div class="settings-email-text">
                                <span>Change Phone Number</span>
                            </div>
                            <div class="settings-email-btn" (click)="updateNumber()">
                                <span>Proceed</span>
                                <span>></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="tabs === 'referrals'">
                    <div>
                        <div>
                            <div class="referral-main-text">
                                <span>How to refer a user</span>
                            </div>
                            <div class="referral-box">
                                <div class="referral-box-first">
                                    <div>
                                        <span class="referral-box-number">1</span>
                                        <span class="referral-box-dash">--------------</span>
                                    </div>
                                    <div class="referral-box-text">
                                        <span>Invite Someone</span>
                                        <span>Share the referral link</span>
                                    </div>

                                </div>
                                <div class="referral-box-first">
                                    <div>
                                        <span class="referral-box-number">2</span>
                                        <span class="referral-box-dash-second">-------------</span>
                                    </div>
                                    <div class="referral-box-text">
                                        <span>They Register</span>
                                        <span>Using your referral link</span>
                                    </div>

                                </div>
                                <div class="referral-box-first">
                                    <div>
                                        <span class="referral-box-number">3</span>
                                        <span class="referral-box-dash"></span>
                                    </div>
                                    <div class="referral-box-text">
                                        <span>Referral Bonus</span>
                                        <span>Earn referral bonus</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="referral-link">
                            <div class="referral-main-text">
                                <span>Your Referral link</span>
                            </div>
                            <div class="referral-link-box">
                                <div class="referral-link-text">
                                    http://www.jollywina.com/Issa/invitetowinaprize
                                </div>
                                <div class="referral-link-copy">
                                    <img src="../../../assets/copy-icon.svg" alt="">
                                </div>
                            </div>
                            <div class="referral-link-sub">
                                If you are not a fan of links, tell who you are referring to use your name when signing
                                up
                            </div>
                        </div>

                        <div class="your-links">
                            <div class="your-links-table">
                                <table>
                                    <thead class="your-link-head">
                                        <th>Name</th>
                                        <th>Earnings</th>
                                    </thead>
                                    <tbody>
                                        <td></td>
                                        <td></td>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ticket-container-background" *ngIf="showNINUpdate">
        <div class="buy-ticket-container">
            <div class="buy-ticket-header">
                <div class="img-dashboard" (click)="closeAllModal()">
                    <img src="../../../assets/dashboard-icon-ticket.svg" alt="">
                </div>
                <div class="buy-ticket-header-text">
                    <span class="bigger-text">Update your NIN</span>
                </div>
                <div class="img-question">
                    <img src="../../../assets/question-ticket.svg" alt="">
                </div>

            </div>

            <div class="input">
                <input type="text" placeholder="Enter your NIN">
            </div>

            <div class="note">
                <span>Kindly note that all the information you provided is safe with us.
                    We will not share your information to any third party without your concent</span>
            </div>

            <div class="footer-ticket">
                <button (click)="completeProfile">
                    <span>COMPLETE PROFILE SETUP</span>
                    <span> > </span>
                </button>
            </div>

        </div>
    </div>
    <div class="ticket-container-background" *ngIf="showlocationUpdate">
        <div class="buy-ticket-container">
            <div class="buy-ticket-header">
                <div class="img-dashboard" (click)="closeAllModal()">
                    <img src="../../../assets/dashboard-icon-ticket.svg" alt="">
                </div>
                <div class="buy-ticket-header-text">
                    <span class="bigger-text">Update your Location</span>
                </div>
                <div class="img-question">
                    <img src="../../../assets/question-ticket.svg" alt="">
                </div>

            </div>

            <div class="input">
                {{showError}}
                <input type="text" placeholder="Enter your location" [(ngModel)]="updateAddress" >
                <input type="password" placeholder="Enter your password" [(ngModel)]="password">
            </div>

            <div class="note">
                <span>Kindly note that all the information you provided is safe with us.
                    We will not share your information to any third party without your concent</span>
            </div>

            <div class="footer-ticket">
                <button (click)="completeLocation()">
                    <span>COMPLETE PROFILE SETUP</span>
                    <span> > </span>
                </button>
            </div>

        </div>
    </div>
    <div class="ticket-container-background" *ngIf="showEmailUpdate">
        <div class="buy-ticket-container">
            <div class="buy-ticket-header">
                <div class="img-dashboard" (click)="closeAllModal()">
                    <img src="../../../assets/dashboard-icon-ticket.svg" alt="">
                </div>
                <div class="buy-ticket-header-text">
                    <span class="bigger-text">Update your Email</span>
                </div>
                <div class="img-question">
                    <img src="../../../assets/question-ticket.svg" alt="">
                </div>

            </div>

            <div class="input">
                <input type="text" placeholder="Email address">
                <input type="text" placeholder="New email address">
            </div>

            <div class="note">
                <span>Kindly note that all the information you provided is safe with us.
                    We will not share your information to any third party without your concent</span>
            </div>

            <div class="footer-ticket">
                <button>
                    <span>Continue</span>
                    <span> > </span>
                </button>
            </div>

        </div>
    </div>
    <div class="ticket-container-background" *ngIf="showPasswordUpdate">
        <div class="buy-ticket-container">
            <div class="buy-ticket-header">
                <div class="img-dashboard" (click)="closeAllModal()">
                    <img src="../../../assets/dashboard-icon-ticket.svg" alt="">
                </div>
                <div class="buy-ticket-header-text">
                    <span class="bigger-text">Update your password</span>
                </div>
                <div class="img-question">
                    <img src="../../../assets/question-ticket.svg" alt="">
                </div>

            </div>

            <div class="input">
                <p *ngIf="showPassError" class="error">New password does not match!</p>
                <p class="error">{{showError}}</p>
                {{showError}}
                <input type="password" placeholder="Password" [(ngModel)]="oldPassword">
                <input type="password" placeholder="New password" [(ngModel)]="newPassword">
                <input type="password" placeholder="Confirm new password" [(ngModel)]="confirmNewPassword">
            </div>

            <div class="note">
                <span>Kindly note that all the information you provided is safe with us.
                    We will not share your information to any third party without your concent</span>
            </div>

            <div class="footer-ticket">
                <button (click)="updateNewPassword()">
                    <span>Continue</span>
                    <span> > </span>
                </button>
            </div>

        </div>
    </div>
    <div class="ticket-container-background" *ngIf="showNumberUpdate">
        <div class="buy-ticket-container">
            <div class="buy-ticket-header">
                <div class="img-dashboard" (click)="closeAllModal()">
                    <img src="../../../assets/dashboard-icon-ticket.svg" alt="">
                </div>
                <div class="buy-ticket-header-text">
                    <span class="bigger-text">Update your Phone number</span>
                </div>
                <div class="img-question">
                    <img src="../../../assets/question-ticket.svg" alt="">
                </div>

            </div>

            <div class="input">
                <input type="text" placeholder="Phone Number">
                <input type="text" placeholder="New phone number">
            </div>

            <div class="note">
                <span>Kindly note that all the information you provided is safe with us.
                    We will not share your information to any third party without your concent</span>
            </div>

            <div class="footer-ticket">
                <button>
                    <span>Continue</span>
                    <span> > </span>
                </button>
            </div>

        </div>
    </div>
    <div class="overlay-modal" *ngIf="modalVisibility" >
        <div class="modal">
            <div class="container-modal">
                <div class="modal-img">
                    <img src="../../../assets/Group 1000002391.svg" alt="">
                    <img src="../../../assets/Group 1000002392.svg" alt="">
                </div>
                <div class="tick-container">
                    <section class="animated_check_circle">
                        <svg viewBox="0 0 130.2 130.2" class="animated_check_circle">
                            <circle class="path circle" fill="none" stroke="#10B981" stroke-width="6" stroke-miterlimit="10"
                                cx="65.1" cy="65.1" r="62.1" />
                            <polyline class="path check" fill="none" stroke="#10B981" stroke-width="6"
                                stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5" />
                        </svg>
                    </section>
                </div>
                <div class="modal-text">
                    <h1>Profile setup complete</h1>
                    <span>Start buying tickets and winning prizes now</span>
                </div>
                <div class="modal-btn" (click)="reloadPage()">
                    <button >Ok, Got it</button>
                </div>
            </div>
        </div>
    </div>
</div>