<div class="admin-transaction-container">
  <div class="earnings-container">
    <div class="sm-card card card-1">
      <div class="card-top">
        <p> Total Tickets Earnings </p>
      </div>
      <div class="card-bottom">
        <p class="item-1"> ₦ {{totalEarning}} </p>
        <div class="item-2">
          <div class="sub-item-1">
            <!-- arrow icon that shows increase or decrease -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path d="M11.5 10.1667V4.5H5.83333M11.3333 4.66667L4.5 11.5" stroke="#111519" stroke-width="1.5"
                stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <p class="percentage-value"> +5.0% </p>
          </div>
        </div>
      </div>
    </div>

    <div class="sm-wide-card card card-2">
      <div class="card-top">
        <p> Tickets Earnings by channels </p>
      </div>
      <div class="card-bottom">
        <div class="card-item-collection">
          <p> Website </p>
          <h2> ₦ {{website}} </h2>
        </div>
        <div class="card-item-collection">
          <p> User Account </p>
          <h2> ₦ {{userAccount}} </h2>
        </div>
        <div class="card-item-collection">
          <p> Agents </p>
          <h2> ₦ {{vendor}} </h2>
        </div>
      </div>
    </div>
  </div>

  <div class="stroke"></div>

  <div class="transaction-table">
    <div class="filter">
      <div class="input-container">
        <input type="search" placeholder="Search using keyword">
        <img class="search-icon" src="../../../assets/search-icon.svg" alt="">
      </div>

      <div class="filter-container">
        <img src="../../../assets/filter-icon.svg" alt="">
        <p> Filter </p>
      </div>
    </div>
 
    <table>
      <thead>
        <tr>
          <th>
            <div class="table-heading"> <input type="checkbox"/>  </div>
          </th>
          <th>
            <div class="table-heading"> Amount Earned </div>
          </th>
          <th>
            <div class="table-heading"> Tickets sold </div>
          </th>
          <th>
            <div class="table-heading"> Channel </div>
          </th>
          <th>
            <div class="table-heading"> Status </div>
          </th>
          <th>
            <div class="table-heading"> Customer Details </div>
          </th>
          <th>
            <div class="table-heading"> Date Bought </div>
          </th>
         
          <th> <img src="../../../assets/table-columns-icon.svg" alt=""> </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of allTransactions">
          <td> <input type="checkbox" /> </td>
          <td class="amount-earned"> {{transaction.amountPaid}} </td>
          <td> {{transaction.numberOfTickets}} </td>
          <td> {{transaction.channel}} </td>
          <td>
            <button class="status-btn" [ngClass]="getBtnColor(transactionStatus)">
              <div class="dot">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                  <circle cx="4" cy="4" r="3" [attr.fill]="getFillColor(transactionStatus)" />
                </svg>
              </div> {{transactionStatus !== null ? transactionStatus : 'Not Available'}}
            </button>
          </td>
          <td> {{transaction.user}} </td>
          <td> {{transaction.date.split('T')[0]}} </td>
          <td> <img src="../../../assets/vertical-dots-icon.svg" alt=""> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>