<div>
    <div class="profile-head">
        <div>
            <span class="header-initials">
                DA
            </span>
        </div>
        <div class="complete-profile">
            <h1 class="header-name">Daniel Sam</h1>
            <div class="complete-profile-div">
                <span class="header-status">Verified</span>
                <span class="header-points">100 Jolly Points</span>
                <span class="header-email">teniolastyles24@gmail.com</span>
            </div>
        </div>
    </div>
    <div class="profile-body">
        <div class="profile-body-head">
            <span>Profile Details</span>
            <span>Settings</span>
            <span>Referrals</span>
        </div>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>