<div class="container">
    <div class="ticket-body">
        <div class="header">
            <div class="header-tickets">
                <span class="header-tickets-text-active">Ongoing Tickets</span>
                <span class="header-tickets-number-active">05</span>
            </div>
            <div class="header-tickets">
                <span class="header-tickets-text">Previously Played Tickets</span>
                <span class="header-tickets-number">26</span>
            </div>
        </div>

        <div>
            <div class="ticket-details">
                <div>
                    <img src="../../../assets/Rectangle 4585.svg" alt="">
                </div>
                <div class="ticket-details-all">
                    <span class="ticket-date">05th Sept, 2024</span>
                    <span class="ticket-name">Jolly Jackpot Lottery</span>
                    <span class="ticket-won">
                        <span>12 Ticket</span>
                        <span>₦ 12,000</span>
                        <span>Cars, bikes, laptop, Monitor, Smartphones</span>
                    </span>
                </div>
            </div>
        </div>
        <div>
            <div class="ticket-details">
                <div>
                    <img src="../../../assets/helmet.svg" alt="">
                </div>
                <div class="ticket-details-all">
                    <span class="ticket-date">03rd Sept, 2024</span>
                    <span class="ticket-name">Jolly Jackpot Lottery</span>
                    <span class="ticket-won">
                        <span>11 Ticket</span>
                        <span>₦ 11,000</span>
                        <span>Cars, laptop, Phones, Gas Cooker</span>
                    </span>
                </div>
            </div>
        </div>
        <div>
            <div class="ticket-details">
                <div>
                    <img src="../../../assets/buildings.svg" alt="">
                </div>
                <div class="ticket-details-all">
                    <span class="ticket-date">03rd Sept, 2024</span>
                    <span class="ticket-name">Jolly Jackpot Lottery</span>
                    <span class="ticket-won">
                        <span>2 Ticket</span>
                        <span>₦ 2,000</span>
                        <span>Cars, laptop, Phones, Gas Cooker</span>
                    </span>
                </div>
            </div>
        </div>

    </div>

</div>