<div class="header-mobile mobile-only-top" *ngIf="mobileVisibility">
    <div (click)="closeWinner()">
        <img src="../../../assets/go-back.svg" alt="">
    </div>
    <div>Winner Board</div>
    <div><img src="../../../assets/menu.svg" alt=""></div>
</div>



<div class="container">
    <div class="ticket-body">
        <div class="header">
            <div class="header-tickets">
                <span class="header-tickets-text-active">Sure Jackpot</span>
                <span class="header-tickets-number-active">32</span>
            </div>
            <div class="header-tickets">
                <span class="header-tickets-text">Sure Jumbo</span>
                <span class="header-tickets-number">32</span>
            </div>
            <div class="header-tickets">
                <span class="header-tickets-text">Sure Boom</span>
                <span class="header-tickets-number">32</span>
            </div>
            <div class="header-tickets">
                <span class="header-tickets-text">Sure Geluu</span>
                <span class="header-tickets-number">32</span>
            </div>
        </div>

        <div>
            <div class="ticket-details" *ngFor="let name of ticketName; let i = index" (click)="selectTicket(i)">
                <div class="ticket-details-img">
                    <img src="../../../assets/keke-without-label.svg" alt="">
                </div>
                <div class="ticket-details-all">
                    <span class="ticket-date">{{name.drawDate.split('T')[0]}}</span>
                    <span class="ticket-name">{{name.drawDescription}}</span>
                    <span class="ticket-won">
                        <span>Jolly Jackpot Lottery</span>
                        <span>{{name.totalWinners}}</span>
                        <!-- <span>Cars, bikes, laptop, Monitor, Smartphones</span> -->
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="winner-container laptop-only" *ngIf="selectedTicketIndex !== null">
        <div *ngFor="let winner of ticketName[selectedTicketIndex]?.winners.items">
            <span>{{ winner.name }}</span>
            <span>{{ winner.location }}</span>
            <span>{{ winner.totalAmount }}</span>
            <span>{{ winner.prize }}</span>
        </div>
    </div>

 

</div>

<div class="loader" *ngIf="showLoader">
    <app-loader/>
</div>

<div class="mobile-only" *ngIf="mobileVisibility">
    <div class="winner-container" *ngIf="selectedTicketIndex !== null">
        <div *ngFor="let winner of ticketName[selectedTicketIndex]?.winners.items">
            <span>{{ winner.name }}</span>
            <span>{{ winner.location }}</span>
            <span>{{ winner.totalAmount }}</span>
            <span>{{ winner.prize }}</span>
        </div>
    </div>
</div>

