<div class="container">
    <div class="ticket-body">
        <div class="header">
            <div class="header-tickets">
                <span class="header-tickets-text-active">Jolly Jackpot</span>
                <span class="header-tickets-number-active">32</span>
            </div>
            <div class="header-tickets">
                <span class="header-tickets-text">Jolly Jumbo</span>
                <span class="header-tickets-number">32</span>
            </div>
            <div class="header-tickets">
                <span class="header-tickets-text">Jolly Boom</span>
                <span class="header-tickets-number">32</span>
            </div>
            <div class="header-tickets">
                <span class="header-tickets-text">Jolly Geluu</span>
                <span class="header-tickets-number">32</span>
            </div>
        </div>

        <div>
            <div class="ticket-details">
                <div class="ticket-details-img">
                    <img src="../../../assets/keke-without-label.svg" alt="">
                </div>
                <div class="ticket-details-all">
                    <span class="ticket-date">Sept, 2024</span>
                    <span class="ticket-name">Suzuki Tricycle - Keke napep</span>
                    <span class="ticket-won">
                        <span>Jolly Jackpot Lottery</span>
                        <span>₦ 1,000 Per Tickets</span>
                        <!-- <span>Cars, bikes, laptop, Monitor, Smartphones</span> -->
                    </span>
                </div>
            </div>
        </div>
        <div>
            <div class="ticket-details">
                <div class="ticket-details-img">
                    <img src="../../../assets/bike-without-label.svg" alt="">
                </div>
                <div class="ticket-details-all">
                    <span class="ticket-date">Feb, 2024</span>
                    <span class="ticket-name">7 units of Suzuki Super Bike</span>
                    <span class="ticket-won">
                        <span>Jolly Jackpot Lottery</span>
                        <span>₦ 1,000 Per Tickets</span>
                        <!-- <span>Cars, laptop, Phones, Gas Cooker</span> -->
                    </span>
                </div>
            </div>
        </div>
        <div>
            <div class="ticket-details">
                <div class="ticket-details-img">
                    <img src="../../../assets/blender.svg" alt="">
                </div>
                <div class="ticket-details-all">
                    <span class="ticket-date">03rd Sept, 2024</span>
                    <span class="ticket-name">12 units of LG Blender Model G23</span>
                    <span class="ticket-won">
                        <span>Jolly Jackpot Lottery</span>
                        <span>₦ 1,000 per ticket</span>
                        <!-- <span>Cars, laptop, Phones, Gas Cooker</span> -->
                    </span>
                </div>
            </div>
        </div>
        <div>
            <div class="ticket-details">
                <div class="ticket-details-img">
                    <img src="../../../assets/tv-without-label.svg" alt="">
                </div>
                <div class="ticket-details-all">
                    <span class="ticket-date">March, 2024</span>
                    <span class="ticket-name">12 units of Samsung 8K HD TV</span>
                    <span class="ticket-won">
                        <span>Jolly Jackpot Lottery</span>
                        <span>₦ 1,000 per ticket</span>
                        <!-- <span>Cars, laptop, Phones, Gas Cooker</span> -->
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>