/* You can add global styles to this file, and also import other style files */

:root {
  /* orange */
  --clr-primary-900: #E55607;
  --clr-primary-800: #EF7009;
  --clr-primary-700: #F57F0B;
  --clr-primary-600: #FB8F0D;
  --clr-primary-500: #FF9B0F;
  --clr-primary-400: #FFAA2C;
  --clr-primary-300: #FFB951;
  --clr-primary-200: #FFCD82;
  --clr-primary-100: #FFE1B3;
  --clr-primary-50: #FFF3E1;

  /* blue */
  --clr-secondary-900: #0009B0;
  --clr-blue-800: #1228C1;
  --clr-secondary-700: #2034CC;
  --clr-secondary-600: #2C3FD9;
  --clr-blue-500: #3148E4;
  --clr-secondary-400: #5666EA;
  --clr-blue-450: #3B82F6;
  --clr-secondary-300: #7783EF;
  --clr-secondary-200: #A0A6F3;
  --clr-secondary-100: #C7C9F8;
  --clr-secondary-50: #E9EAFC;
  --clr-secondary-20: #EEF8FF;
  

  /* black */
  --clr-secondary-900: #111519;
  --clr-secondary-800: #313539;
  --clr-secondary-700: #4E5357;
  --clr-secondary-600: #61666B;
  --clr-secondary-500: #898D93;
  --clr-dark-550: #7B7B7B;
  // --clr-secondary-500-10: hsla(0, 0%, 48%, 0.338);

  --clr-secondary-400: #A9AEB3;
  --clr-secondary-300: #CED3D8;
  --clr-secondary-200: #DFE4EA;
  --clr-secondary-100: #EBF0F5;
  --clr-dark-75: #E9E9E9;
  --clr-secondary-50: #F3F8FE;

  --clr-dark-20: #F6F6F6;

  // border color 
  --color-boarder-stroke: #D9D9D9;
  --color-boarder-stroke-hard: #C4C4C4;



  /* white */
  --clr-white: #FFFFFF;


  /* font family */
  --mullish: 'Mulish', sans-serif;
  --display-font: 'Big Shoulders Display', sans-serif;
  --body-font: 'Satoshi', sans-serif;
  --cta-alt: 'DM Sans', sans-serif;

  /* font weight */
  --fw-700: 700;
  --fw-600: 600;
  --fw-500: 500;
  --fw-400: 400;
  --fw-300: 300;

  /* base */
  /* use this to convert from pixel to rem */
  --base: 16;

  /* font size */
  --fs-10: calc(10 / var(--base) * 1rem);
  --fs-12: calc(12 / var(--base) * 1rem);
  --fs-14: calc(14 / var(--base) * 1rem);
  --fs-16: calc(16 / var(--base) * 1rem);
  --fs-18: calc(18 / var(--base) * 1rem);
  --fs-20: calc(20 / var(--base) * 1rem);
  --fs-24: calc(24 / var(--base) * 1rem);
  --fs-28: calc(28 / var(--base) * 1rem);
  --fs-32: 32px;
  --fs-36: calc(36 / var(--base) * 1rem);
  --fs-40: 40px
  --fs-48: calc(48 / var(--base) * 1rem);
  --fs-62: calc(62 / var(--base) * 1rem);

  // border-radius

  --rounded-none: 0rem;
  --rounded-xs: 0.25rem;
  --rounded-sm: 8px;
  --rounded-md: 0.75rem;
  --rounded-lg: 1rem;
  --rounded-5: 1.25rem;
  --rounded-xl: 25rem;
  --rounded-2xl: 2rem;
  --rounded-full: 1000px;

  /* spacing */
  --spacing-11: calc(1000 / var(--base) * 1rem);
  --spacing-10: calc(100 / var(--base) * 1rem);
  --spacing-9: calc(56 / var(--base) * 1rem);
  --spacing-8: calc(48 / var(--base) * 1rem);
  --spacing-7: calc(40 / var(--base) * 1rem);
  --spacing-6: calc(32 / var(--base) * 1rem);
  --spacing-5: calc(24 / var(--base) * 1rem);
  --spacing-4: calc(16 / var(--base) * 1rem);
  --spacing-3: calc(10 / var(--base) * 1rem);
  --spacing-2: calc(8 / var(--base) * 1rem);
  --spacing-1: calc(6 / var(--base) * 1rem);
  --spacing-0: calc(0 / var(--base) * 1rem);

  /* container-wrapper */
  --container: calc(65 / var(--base) * 1rem);
  --container-2: calc(150 / var(--base) * 1rem);
  --container-3: calc(1400 / var(--base) * 1rem);
  --header-spacing-block: calc(28 / var(--base) * 1rem);

  // padding 

--NumbersSpacingS: 6px;
--NumbersSpacingL: 10px;
--NumbersSpacingXL: 16px;
--NumbersSpacing3XL: 24px;
--NumbersSpacing9XL: 100px;

}



/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

button {
  border: none;
  background-color: none;
  background-color: transparent;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}
/* You can add global styles to this file, and also import other style files */

:root {
  /* orange */
  --clr-primary-900: #E55607;
  --clr-primary-800: #EF7009;
  --clr-primary-700: #F57F0B;
  --clr-primary-600: #FB8F0D;
  --clr-primary-500: #FF9B0F;
  --clr-primary-400: #FFAA2C;
  --clr-primary-300: #FFB951;
  --clr-primary-200: #FFCD82;
  --clr-primary-100: #FFE1B3;
  --clr-primary-50: #FFF3E1;

  /* blue */
  --clr-secondary-900: #0009B0;
  --clr-blue-800: #1228C1;
  --clr-secondary-700: #2034CC;
  --clr-secondary-600: #2C3FD9;
  --clr-blue-500: #3148E4;
  --clr-secondary-400: #5666EA;
  --clr-blue-450: #3B82F6;
  --clr-secondary-300: #7783EF;
  --clr-secondary-200: #A0A6F3;
  --clr-secondary-100: #C7C9F8;
  --clr-secondary-50: #E9EAFC;
  --clr-secondary-20: #EEF8FF;
  

  /* black */
  --clr-secondary-900: #111519;
  --clr-secondary-800: #313539;
  --clr-secondary-700: #4E5357;
  --clr-secondary-600: #61666B;
  --clr-secondary-500: #898D93;
  --clr-dark-550: #7B7B7B;
  // --clr-secondary-500-10: hsla(0, 0%, 48%, 0.338);

  --clr-secondary-400: #A9AEB3;
  --clr-secondary-300: #CED3D8;
  --clr-secondary-200: #DFE4EA;
  --clr-secondary-100: #EBF0F5;
  --clr-dark-75: #E9E9E9;
  --clr-secondary-50: #F3F8FE;

  --clr-dark-20: #F6F6F6;

  // border color 
  --color-boarder-stroke: #D9D9D9;
  --color-boarder-stroke-hard: #C4C4C4;



  /* white */
  --clr-white: #FFFFFF;


  /* font family */
  --mullish: 'Mulish', sans-serif;
  --display-font: 'Big Shoulders Display', sans-serif;
  --body-font: 'Satoshi', sans-serif;
  --cta-alt: 'DM Sans', sans-serif;

  /* font weight */
  --fw-700: 700;
  --fw-600: 600;
  --fw-500: 500;
  --fw-400: 400;
  --fw-300: 300;

  /* base */
  /* use this to convert from pixel to rem */
  --base: 16;

  /* font size */
  --fs-10: calc(10 / var(--base) * 1rem);
  --fs-12: calc(12 / var(--base) * 1rem);
  --fs-14: calc(14 / var(--base) * 1rem);
  --fs-16: calc(16 / var(--base) * 1rem);
  --fs-18: calc(18 / var(--base) * 1rem);
  --fs-20: calc(20 / var(--base) * 1rem);
  --fs-24: calc(24 / var(--base) * 1rem);
  --fs-28: calc(28 / var(--base) * 1rem);
  --fs-32: 32px;
  --fs-36: calc(36 / var(--base) * 1rem);
  --fs-40: 40px
  --fs-48: calc(48 / var(--base) * 1rem);
  --fs-62: calc(62 / var(--base) * 1rem);

  // border-radius

  --rounded-none: 0rem;
  --rounded-xs: 0.25rem;
  --rounded-sm: 8px;
  --rounded-md: 0.75rem;
  --rounded-lg: 1rem;
  --rounded-5: 1.25rem;
  --rounded-xl: 400px;
  --rounded-2xl: 2rem;
  --rounded-full: 1000px;

  /* spacing */
  --spacing-11: calc(1000 / var(--base) * 1rem);
  --spacing-10: calc(100 / var(--base) * 1rem);
  --spacing-9: calc(56 / var(--base) * 1rem);
  --spacing-8: calc(48 / var(--base) * 1rem);
  --spacing-7: calc(40 / var(--base) * 1rem);
  --spacing-6: calc(32 / var(--base) * 1rem);
  --spacing-5: calc(24 / var(--base) * 1rem);
  --spacing-4: calc(16 / var(--base) * 1rem);
  --spacing-3: calc(10 / var(--base) * 1rem);
  --spacing-2: calc(8 / var(--base) * 1rem);
  --spacing-1: calc(6 / var(--base) * 1rem);
  --spacing-0: calc(0 / var(--base) * 1rem);

  /* container-wrapper */
  --container: calc(65 / var(--base) * 1rem);
  --container-2: calc(150 / var(--base) * 1rem);
  --container-3: calc(1400 / var(--base) * 1rem);
  --header-spacing-block: calc(28 / var(--base) * 1rem);

  // padding 

--NumbersSpacingS: 6px;
--NumbersSpacingL: 10px;
--NumbersSpacingXL: 16px;
--NumbersSpacing3XL: 24px;
--NumbersSpacing9XL: 100px;

}



/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

button {
  border: none;
  background-color: none;
  background-color: transparent;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}