.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

}

.container-img {
    position: relative;
    width: 45%;
    height: 100%;
}

.img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    
}

.img.active {
    opacity: 1;
}

.login-details-container {
    position: relative;
}
.login-details {
    // border: 1px solid;
    width: 60%;
}

.login-details-container {
    position: relative;
    width: 70%;
    height: 95%;
    // border: 1px solid purple;
    margin: 25px auto 0;
}

.first-details {
    display: flex;
    flex-direction: column;
    gap: var(--NumbersSpacingXL);
}

.container-step span {
   
    background-color: var(--clr-secondary-20);
    padding: var(--NumbersSpacingS, 6px) var(--NumbersSpacingXL, 16px);
    border: 1px solid var(--color-boarder-stroke);
    border-radius: var(--rounded-full);
    // margin-top: var(--NumbersSpacingL);
}

.heading {
    font-family: var(--cta-alt);
    font-size: 40px;
    font-weight: var(--fw-500);
}

.heading-sub {
    font-family: var(--cta-alt)
}

.icons {
    display: flex;
    gap: 6px;
}

.google-icon {
    display: block;
    border: 1px solid var(--color-boarder-stroke);
    border-radius: 50%;
    width: 40px;
    height: 42px;
    padding: 3px;
    cursor: pointer;
}

.facebook-icon {
    display: block;
    border: 1px solid var(--color-boarder-stroke);
    border-radius: 50%;
    width: 40px;
    height: 42px;
    padding: 5px;
    cursor: pointer;
}

.all-inputs {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: var(--NumbersSpacingS);
}

.all-inputs input {
    width: 415px;
    height: 56px;
    outline: none;
    border: 1px solid var(--color-boarder-stroke);
    border-radius: 6px;
    background-color: #F6F6F6;
    padding: 16px;
    font-family: var(--cta-alt);
}

.all-inputs span {
    color: #000;
    border-bottom: 1px solid var(--color-boarder-stroke);
    // width: 415px;
    padding: 16px 0;
    font-family: var(--cta-alt);
    margin-bottom: 10px;
}

.eye-icon {
    position: absolute;
    top: 18px;
    right: 2rem;
    cursor: pointer;
}

.eye-icons {
    position: absolute;
    top: 10rem;
    right: 2rem;
    cursor: pointer;
}

.all-inputs {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    gap: var(--NumbersSpacingL);
}

.footer {
    position: absolute;
    // top: 0;
    bottom: 30px;
    left: 0;
    width: 100%;
}

.all-text {
    border-bottom: 1px solid var(--color-boarder-stroke-hard);
    padding: 20px 0;
    width: 100%;

}

.buttons {
    margin-top: var(--NumbersSpacing3XL);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn-back {
    border: 1px solid var(--clr-blue-800);
    background-color: var(--clr-white);
    color: var(--clr-blue-800);
    padding: var(--NumbersSpacingS, 16px) 20px;
    border-radius: var(--rounded-xl);
    font-family: var(--cta-alt);
    font-weight: var(--fw-400);
    font-size: 20px;
    width: 159px;
    height: 58px;
    cursor: pointer;
    outline: none;
}

.btn-cont {
    position: relative;
    border: 1px solid var(--clr-blue-800);
    color: var(--clr-white);
    background-color: var(--clr-blue-800);
    // padding: var(--NumbersSpacingS, 16px) 20px;
    padding: var(--NumbersSpacingS, 16px) 20px 6px 0px;
    border-radius: var(--rounded-xl);
    font-family: var(--cta-alt);
    font-weight: var(--fw-500);
    font-size: 20px;
    width: 159px;
    height: 58px;
    cursor: pointer;
    outline: none;

}

.btn-cont img {
    position: absolute;
    top: 20px;
    right: 15px;
    // left: 0;
}

@media (max-width: 1000px) {
    .container-img {
        display: none;
    }

    .login-details {
        width: 100%;
    }

    .all-inputs {
        position: fixed;
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: var(--NumbersSpacingS);
    }

    .all-inputs input {
        width: 100%;
        height: 56px;
        outline: none;
        border: 1px solid var(--color-boarder-stroke);
        border-radius: 6px;
        background-color: #F6F6F6;
        padding: 16px;
        font-family: var(--cta-alt);
    }


}

@media (max-width: 578px) {

    .heading {
        font-family: var(--cta-alt);
        font-size: 20px;
        font-weight: var(--fw-500);
    }
    
    .heading-sub {
        font-size: 14px;
        font-family: var(--cta-alt)
    }
    .container-step span {
        background-color: var(--clr-secondary-20);
        font-size: 14px;
        padding: var(--NumbersSpacingS, 6px) var(--NumbersSpacingXL, 16px);
        border: 1px solid var(--color-boarder-stroke);
        border-radius: var(--rounded-full);
        // margin-top: var(--NumbersSpacingL);
    }

    .icons {
        display: flex;
        gap: 6px;
    }
    
    .google-icon {
        display: block;
        border: 1px solid var(--color-boarder-stroke);
        border-radius: 50%;
        width: 30px;
        height: 32px;
        padding: 3px;
    }
    
    .facebook-icon {
        display: block;
        border: 1px solid var(--color-boarder-stroke);
        border-radius: 50%;
        width: 30px;
        height: 32px;
        padding: 5px;
    }

    .all-inputs input {
        // width: 415px;
        height: 56px;
        outline: none;
        border: 1px solid var(--color-boarder-stroke);
        border-radius: 6px;
        background-color: #F6F6F6;
        padding: 14px;
        font-family: var(--cta-alt);
    }

    .all-inputs span {
        color: #000;
        border-bottom: 1px solid var(--color-boarder-stroke);
        // width: 415px;
        padding: 16px 0;
        font-family: var(--cta-alt);
        margin-bottom: 10px;
        font-size: 14px;
    }

    .buttons {
        margin-top: var(--NumbersSpacing3XL);
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    .btn-back {
        border: 1px solid var(--clr-blue-800);
        background-color: var(--clr-white);
        color: var(--clr-blue-800);
        padding: var(--NumbersSpacingS, 16px) 20px;
        border-radius: var(--rounded-xl);
        font-family: var(--cta-alt);
        font-weight: var(--fw-400);
        font-size: 14px;
        width: 109px;
        height: 38px;
        cursor: pointer;
        outline: none;
    }
    
    .btn-cont {
        position: relative;
        border: 1px solid var(--clr-blue-800);
        color: var(--clr-white);
        background-color: var(--clr-blue-800);
        // padding: var(--NumbersSpacingS, 16px) 20px;
        padding: var(--NumbersSpacingS, 16px) 20px 6px 0px;
        border-radius: var(--rounded-xl);
        font-family: var(--cta-alt);
        font-weight: var(--fw-500);
        font-size: 14px;
        width: 109px;
        height: 38px;
        cursor: pointer;
        outline: none;
    
    }
    
    .btn-cont img {
        position: absolute;
        top: 10px;
        right: 15px;
        // left: 0;
    }
}

@media (max-width: 340px) {

    .heading {
        font-family: var(--cta-alt);
        font-size: 20px;
        font-weight: var(--fw-500);
    }
    
    .heading-sub {
        font-size: 12px;
        font-family: var(--cta-alt)
    }
    .container-step span {
        background-color: var(--clr-secondary-20);
        font-size: 12px;
        padding: var(--NumbersSpacingS, 6px) var(--NumbersSpacingXL, 16px);
        border: 1px solid var(--color-boarder-stroke);
        border-radius: var(--rounded-full);
        // margin-top: var(--NumbersSpacingL);
    }

    .icons {
        display: flex;
        gap: 6px;
    }
    
    .google-icon {
        display: block;
        border: 1px solid var(--color-boarder-stroke);
        border-radius: 50%;
        width: 20px;
        height: 22px;
        padding: 3px;
    }
    
    .facebook-icon {
        display: block;
        border: 1px solid var(--color-boarder-stroke);
        border-radius: 50%;
        width: 20px;
        height: 2px;
        padding: 5px;
    }

    .all-inputs input {
        // width: 415px;
        height: 56px;
        outline: none;
        border: 1px solid var(--color-boarder-stroke);
        border-radius: 6px;
        background-color: #F6F6F6;
        padding: 12px;
        font-family: var(--cta-alt);
    }

    .all-inputs span {
        color: #000;
        border-bottom: 1px solid var(--color-boarder-stroke);
        // width: 415px;
        padding: 16px 0;
        font-family: var(--cta-alt);
        margin-bottom: 10px;
        font-size: 12px;
    }

    .buttons {
        margin-top: var(--NumbersSpacing3XL);
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    .btn-back {
        border: 1px solid var(--clr-blue-800);
        background-color: var(--clr-white);
        color: var(--clr-blue-800);
        padding: var(--NumbersSpacingS, 16px) 20px;
        border-radius: var(--rounded-xl);
        font-family: var(--cta-alt);
        font-weight: var(--fw-400);
        font-size: 9px;
        width: 79px;
        height: 25px;
        cursor: pointer;
        outline: none;
    }
    
    .btn-cont {
        position: relative;
        border: 1px solid var(--clr-blue-800);
        color: var(--clr-white);
        background-color: var(--clr-blue-800);
        // padding: var(--NumbersSpacingS, 16px) 20px;
        padding: var(--NumbersSpacingS, 16px) 20px 6px 0px;
        border-radius: var(--rounded-xl);
        font-family: var(--cta-alt);
        font-weight: var(--fw-500);
        font-size: 9px;
        width: 79px;
        height: 25px;
        cursor: pointer;
        outline: none;
    
    }
    
    .btn-cont img {
        position: absolute;
        top: 7px;
        right: 7px;
        width: 10px;
    }
}