<div class="container">
    <div class="container-img">
        <img
        class="img"
        *ngFor="let image of images; let i = index"
        [class.active]="i === activeIndex"
        [src]="image"
        alt="Carousel Image"
      />

    </div>

    <div class="login-details">
        <div class="login-details-container">
            <div class="first-details">
                <div class="container-step">
                    <span>STEP 2</span>
                </div>
                <div>
                    <h1 class="heading">Password Setup</h1>
                    <span class="heading-sub">Please setup your password</span>
                    <div class="icons">
                        <span>
                            <img class="google-icon" src="../../../assets/Google Logos.svg" alt="">
                        </span>
                        <span>
                            <img class="facebook-icon" src="../../../assets/logos_facebook.svg" alt="">
                        </span>
                    </div>
                </div>
            </div>
            <div class="all-inputs">
                <input [type]="showPassword ? 'text' : 'password'" placeholder="Password">
                <i class="eye-icon" (click)="togglePasswordVisibility()">
                    {{ showPassword ? '🙈' : '👁️' }}
                </i>
                <span>Password must be at least 6 characters long</span>
                <input [type]="showReEnterPassword ? 'text' : 'password'"  placeholder="Re-Enter Password">
                <i class="eye-icons" (click)="toggleReEnterPasswordVisibility()">
                    {{ showReEnterPassword ? '🙈' : '👁️' }}
                </i>
            </div>
            <div class="footer">
                <div class="all-text">
                
                </div>
                <div class="buttons">
                    <button class="btn-back" (click)="navigateToName()">Go Back</button>
                    <button class="btn-cont" (click)="navigateToOtp()">Continue <img src="../../../assets/grommet-icons_form-next.svg"
                            alt=""></button>
                </div>
            </div>
        </div>
    </div>
</div>