<header>
  <div class="container header">
    <img src="./assets/jollywina-logo.svg">
    <div class="links">
      <a>Home</a>
      <a>FAQ's</a>
    </div>
    <button (click)="navigateToCreatAccount()" class="btn outline-blue">
      <a> GET STARTED <img src="./assets/right-arrow-icon.png" alt=""> </a>
    </button>
  </div>
  <div class="container">
    <div class="first_section">
      <div class="first_section_first">
        <span class="first_child">Everyone is a winner</span>
        <span class="second_child">
          Your winning ticket to life changing prizesdssss
        </span>
        <span>
          Win cars, TVs, cash, and more. Buy a ticket and join the next draw!
        </span>
        <button (click)="navigateToPaymentTicket()">
          <span>BUY YOUR TICKET NOW</span>
          <span> > </span>
        </button>
        <div class="registered-user">
          <img src="../../../assets/joined-partner.svg" alt="">
          <span>60k+ users already joined</span>
        </div>
      </div>

      <div class="right-side">
        <div class="right-top">
          <img src="./assets/jolly-user-man.png" alt="">
          <div class="prize-collection">
            <img class="gift-icon" src="./assets/gift-box-icon.svg" alt="">
            <div class="prize-details-medium">
              <div class="prize-earnings">
                <p> Prizes Won </p>
                <h2> ₦738k <span>~</span> </h2>
              </div>
              <div class="prize-carousel">
                <img src="./assets/prize-carousel.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="right-bottom">
          <div class="ticket-collection">
            <div class="prize-details-small">
              <img class="prize-item" src="../../../assets/prize-item.png" alt="">
              <div class="prize-details">
                <p class="date"> 03rd June, 2024 </p>
                <p class="lottery-name"> Jolly Jackpot Lottery </p>
                <div class="ticket-btn-details">
                  <button class="ticket-btn">
                    11 tickets
                  </button>
                  <button class="ticket-btn">
                    ₦ 11,000
                  </button>
                </div>
              </div>
            </div>
            <img class="gift-icon" src="./assets/ticket-icon.png" alt="">
          </div>
          <img src="../../../assets/jolly-user-woman.png" alt="">
        </div>
      </div>
    </div>
  </section>
  <!-- section-2 -->
  <section class="blue-gradient">
    <div class="section section-2">
      <ng-container class="section-2-content">
        <h2> Register within 5minutes
          to become a winner
        </h2>
        <div class="how-to-container">
          <div class="how-to-box">
            <h3> 1 </h3>

            <h4> Create Account </h4>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed </p>
          </div>
          <div class="how-to-box">
            <h3> 2 </h3>
            <h4> Buy Ticket </h4>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed </p>
          </div>
          <div class="how-to-box">
            <h3> 3 </h3>
            <h4> Win Big Prizes </h4>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed </p>
          </div>
        </div>
        <button class="btn-white-bg">
          <a> Buy Your Ticket Now <img src="./assets/right-arrow-icon.png" alt=""> </a>

        </button>
      </ng-container>
    </div>
  </section>
  <!-- section-3 -->
  <section>
    <div class="section section-3">
      <img class="half-gift" src="../../../assets/half-gift.png" alt="">
      <div class="section-3-content">
        <div class="content-1">
          <div class="content-1-top">
            <button class="pseudo-btn"> Prizes </button>
            <div class="switch-cta-btn">
              <img src="../../../assets/cta-arrow-left.png" alt="">
              <img src="../../../assets/cta-arrow-right.png" alt="">
            </div>
          </div>
          <div class="content-1-bottom">
            <h2> Suzuki Tricycle - Keke napep </h2>
            <div class="directionals">
            </div>
            </div>
            </div>

        <div class="content-2">
          <div class="top">
            <button class="btn">
              <a> Everyone is a winner </a>
            </button>
            <p>Play today’s game <br> <span> JOLLY JACKPOT </span></p>
          </div>
          <div class="bottom">
            <p> Affordable tickets, amazing prizes – a chance to change your life </p>
            <button class="btn outline-blue">
              <a> BUY YOUR TICKET NOW <img src="./assets/right-arrow-icon.png" alt=""> </a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- section-4 -->
  <section>
    <div class="draw-details">
      <div class="draw-top">
        <p> November </p>
        <h2> 16 </h2>
      </div>
      <div class="draw-bottom">
        <p> next draw </p>
      </div>
    </div>
    <div class="section-4">
      <div class="top">
        <img src="../../../assets/dashboard-sample.png" alt="">
      </div>
      <hr>
      <div class="bottom">
        <div class="circle-img">
          <img src="../../../assets/circle-img.png" alt="">
        </div>
        <div class="details-container">
          <div class="details">
            <p> Total Payout </p>
            <h2> ₦ 1,212,000 </h2>
          </div>
          <div class="details">
            <p> Winners </p>
            <h2> 2.5k </h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- section-5 -->
  <section class="blue-gradient">
    <div class="section section-5">
      <div class="text-header">
        <h2> What people are saying about JollyWina </h2>
        <p> Hear from our lucky winners </p>
      </div>
      <div class="video-testimonies">
        <img src="../../../assets/cta-arrow-left.png" alt="">
        <div class="video-container">
          <img src="../../../assets/video-group.png" alt="">
        </div>
        <img src="../../../assets/cta-arrow-right.png" alt="">
      </div>
    </div>
  </section>
  <!-- section-6 -->
  <section>
    <div class="section section-6">
      <div class="text-container">
        <button class="btn">
          DON’T JUST TAKE OUR WORD FOR IT 
        </button>
        <h2> More thoughts from our users </h2>
      </div>
      <div class="card-slides-container">
        <div class="card-slides">
          <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad min.</h3>
          <div class="user">
            <img src="assets/avatar-icon-3.png" alt="">
            <div class="user-details">
              <h3>Chidozie Kolawole</h3>
              <p>CEO Chidoz Interiors</p>
            </div>
          </div>
        </div>
        <div class="card-slides">
          <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad min.</h3>
          <div class="user">
            <img src="assets/avatar-icon-1.png" alt="">
            <div class="user-details">
              <h3>Chidozie Kolawole</h3>
              <p>CEO Chidoz Interiors</p>
            </div>
          </div>
        </div>
        <div class="card-slides">
          <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad min.</h3>
          <div class="user">
            <img src="assets/avatar-icon-2.png" alt="">
            <div class="user-details">
              <h3>Chidozie Kolawole</h3>
              <p>CEO Chidoz Interiors</p>
            </div>
          </div>
        </div>
        <div class="card-slides">
          <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad min.</h3>
          <div class="user">
            <img src="assets/avatar-icon-3.png" alt="">
            <div class="user-details">
              <h3>Chidozie Kolawole</h3>
              <p>CEO Chidoz Interiors</p>
            </div>
          </div>
        </div>
        <div class="card-slides">
          <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad min.</h3>
          <div class="user">
            <img src="assets/avatar-icon-2.png" alt="">
            <div class="user-details">
              <h3>Chidozie Kolawole</h3>
              <p>CEO Chidoz Interiors</p>
            </div>
          </div>
        </div>
        <div class="card-slides">
          <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad min.</h3>
          <div class="user">
            <img src="assets/avatar-icon-1.png" alt="">
            <div class="user-details">
              <h3>Chidozie Kolawole</h3>
              <p>CEO Chidoz Interiors</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<footer>
  <div class="footer">
    <div class="footer-top"> 
      <div class="left-group">
        <img src="../../../assets/jolly-winna-footer-logo.svg" alt="">
        <img src="../../../assets/social-icons-group.png" alt="">
      </div>
      <div class="right-group">
        <h2> Quicklinks </h2>
        <p> FAQ's </p>
        <p> Resources </p>
      </div>
    </div>
    <div class="footer-bottom">
      <p> © 2024 All rights Reservered </p>
      <p> Jollywina.com </p>
    </div>
  </div>
</footer>