<header>
  <div class="container header">
    <img src="./assets/jollywina-logo.svg">
    <div class="links">
      <a>Home</a>
      <a>FAQ's</a>
    </div>
    <button class="btn outline-blue">
      <a> GET STARTED <img src="./assets/right-arrow-icon.png" alt=""> </a>
    </button>
  </div>
</header>


<main>
  <section class="add-gradient">
    <div class="section section-1">
      <div class="left-side">
        <button class="btn">
          <a> Everyone is a winner </a>
        </button>

        <h1>
          Your winning ticket to life changing prizes
        </h1>

        <div class="support-text">
          <p> Win cars, TVs, cash, and more. Buy a ticket and join the next draw! </p>

          <button class="btn-full blue">
            <a> Buy Your Ticket Now
              <img src="./assets/right-arrow-icon-white.svg" alt="">
            </a>
          </button>

          <div class="headshot-container">
            <img src="./assets/head-shots.png" alt="">
            <p> 60K+ users already joined </p>
          </div>
        </div>
      </div>

      <div class="right-side">
        <div class="right-top">
          <img src="./assets/jolly-user-man.png" alt="">
          <div class="prize-collection">
            <img class="gift-icon" src="./assets/gift-box-icon.svg" alt="">
            <div class="prize-details-medium">
              <div class="prize-earnings">
                <p> Prizes Won </p>
                <h2> ₦738k <span>~</span> </h2>
              </div>
              <div class="prize-carousel">
                <img src="./assets/prize-carousel.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="right-bottom">
          <div class="ticket-collection">
            <div class="prize-details-small">
              <img class="prize-item" src="../../../assets/prize-item.png" alt="">
              <div class="prize-details">
                <p class="date"> 03rd June, 2024 </p>
                <p class="lottery-name"> Jolly Jackpot Lottery </p>
                <div class="ticket-btn-details">
                  <button class="ticket-btn">
                    11 tickets
                  </button>
                  <button class="ticket-btn">
                    ₦ 11,000
                  </button>
                </div>
              </div>
            </div>
            <img class="gift-icon" src="./assets/ticket-icon.png" alt="">
          </div>
          <img src="../../../assets/jolly-user-woman.png" alt="">
        </div>
      </div>
    </div>
  </section>

  <section class="blue-gradient">
    <div class="section section-2">
      <ng-container class="section-2-content">
        <h2> Register within 5minutes
          to become a winner
        </h2>
        <div class="how-to-container">
          <div class="how-to-box">
            <h3> 1 </h3>

            <h4> Create Account </h4>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed </p>
          </div>
          <div class="how-to-box">
            <h3> 2 </h3>
            <h4> Buy Ticket </h4>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed </p>
          </div>
          <div class="how-to-box">
            <h3> 3 </h3>
            <h4> Win Big Prizes </h4>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed </p>
          </div>
        </div>
        <button class="btn-white-bg">
          <a> Buy Your Ticket Now <img src="./assets/right-arrow-icon.png" alt=""> </a>

        </button>
      </ng-container>
    </div>
  </section>
<section>
  <div class="section section-3">
    <img class="half-gift" src="../../../assets/half-gift.png" alt="">
    <div class="section-3-content">
      <div class="content-1">
        <div class="content-1-top">
          <button class="pseudo-btn"> Prizes </button>
          <div class="switch-cta-btn">
            <img src="../../../assets/cta-arrow-left.png" alt="">
            <img src="../../../assets/cta-arrow-right.png" alt="">
          </div>
        </div>
        <div class="content-1-bottom">
          <h2> Suzuki Tricycle - Keke napep </h2>
          <div class="directionals">
          </div>
          </div>
          </div>

      <div class="content-2">
        <div class="top">
          <button class="btn">
            <a> Everyone is a winner </a>
          </button>
          <p>Play today’s game <br> <span> JOLLY JACKPOT </span></p>
        </div>
        <div class="bottom">
          <p> Affordable tickets, amazing prizes – a chance to change your life </p>
          <button class="btn outline-blue">
            <a> BUY YOUR TICKET NOW <img src="./assets/right-arrow-icon.png" alt=""> </a>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
</main>