<div *ngIf="showAddTicket">
    <div class="header-container">
        <img (click)="goToLottery()" src="../../../assets/go-back.svg" alt="">
        <span>Configure Winning</span>
    </div>
    <div class="container-details">
        <div class="ticket-steps">
            <span class="ticket-steps-1">
                <img src="../../../assets/first-step.svg" alt="">
                <span>Step 1</span>
            </span>
        </div>
        <!-- <div style="color: red;"> {{showError}}</div> -->
        <div class="container-draw-details">
            <div class="container-draw-input">
                <input type="text" placeholder="Business Base Amount" [(ngModel)]="baseAmount">
            </div>
            <div class="container-dropdown">
                <div class="container-draw-dropdown">
                    <div class="input" (click)="toggleDropdown()">
                        <input type="text" [value]="selectedDay" readonly placeholder="Sales Allocation Percentage">
                        <span class="dropdown-icon"><img src="../../../assets/dropdown-arrow.svg" alt=""></span>
                    </div>
                    <div class="dropdown-items" *ngIf="isDropdownOpen">
                        <span *ngFor="let day of days" (click)="selectDay(day)">{{ day }}</span>
                    </div>
                </div>
            </div>
            <div class="all-tier-container">
                <div class="container-draw-dropdown">
                    <div class="" (click)="toggleDropdownTierOne()">
                        <input type="text" [value]="selectedTierOne" readonly placeholder="Tier 1">
                        <span class="dropdown-icon"><img src="../../../assets/dropdown-arrow.svg" alt=""></span>
                    </div>
                    <div class="dropdown-items" *ngIf="isDropdownOpenTierOne">
                        <span *ngFor="let tierOne of tierOnePercent" (click)="selectTierOne(tierOne)">{{ tierOne }}</span>
                    </div>
                </div>
                <div class="container-draw-dropdown">
                    <div class="" (click)="toggleDropdownTierTwo()">
                        <input type="text" [value]="selectedTierTwo" readonly placeholder="Tier 2">
                        <span class="dropdown-icon"><img src="../../../assets/dropdown-arrow.svg" alt=""></span>
                    </div>
                    <div class="dropdown-items" *ngIf="isDropdownOpenTierTwo">
                        <span *ngFor="let tierTwo of tierTwoPercent" (click)="selectTierTwo(tierTwo)">{{ tierTwo }}</span>
                    </div>
                </div>
                <div class="container-draw-dropdown">
                    <div class="" (click)="toggleDropdownTierThree()">
                        <input type="text" [value]="selectedTierThree" readonly placeholder="Tier 3">
                        <span class="dropdown-icon"><img src="../../../assets/dropdown-arrow.svg" alt=""></span>
                    </div>
                    <div class="dropdown-items" *ngIf="isDropdownOpenTierThree">
                        <span *ngFor="let tierThree of tierThreePercent" (click)="selectTierThree(tierThree)">{{ tierThree }}</span>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="container-btn">
        <button (click)="createPrize()">
            <span>Complete</span>
            <span>></span>
        </button>
    </div>
</div>


<div class="ticket-container-background" *ngIf="showModal">
    <div class="modal">
        <div class="container-modal">
            <div class="modal-img">
                <img src="../../../assets/Group 1000002391.svg" alt="">
                <img src="../../../assets/Group 1000002392.svg" alt="">
            </div>
            <div class="tick-container">
                <section class="animated_check_circle">
                    <svg viewBox="0 0 130.2 130.2" class="animated_check_circle">
                        <circle class="path circle" fill="none" stroke="#10B981" stroke-width="6" stroke-miterlimit="10"
                            cx="65.1" cy="65.1" r="62.1" />
                        <polyline class="path check" fill="none" stroke="#10B981" stroke-width="6"
                            stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5" />
                    </svg>
                </section>
            </div>
            <div class="modal-text">
                <h1>You have successfully configured Winnings</h1>
                <span>
                </span>
                <!-- <span>and easily purchase the tickets</span> -->
            </div>
            <div class="modal-btn">
                <button (click)="goToLottery()">Ok, Got it</button>
            </div>
        </div>
    </div>
</div>

<div class="loader" *ngIf="loading">
    <app-loader />
  </div>